<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner" verbose="1" parallel="methods" thread-count="3" group-by-instances="true">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
	</listeners>
	<test name="Employee Backend Tests">
		<classes>
			<class name="com.api.tests.employee.EmployeeTest"></class>
		</classes>
	</test>
	<test name="Frontend Tests">
		<classes>
			<class name="com.webui.tests.FashionProductTests"></class>
		</classes>
	</test>
</suite>